* {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #fff;
}

.slide {
    background-image: url('../../../../images/thirsdSection/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.title {
    font-family: 'GothamPro', sans-serif;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    top: 80px;
    left: 85px;
}

.shard1 {
    position: absolute;
    top: 112px;
    right: 75px;
    width: 38px;
    height: 39px;
}

.shard2 {
    position: absolute;
    top: 226px;
    right: 252px;
    width: 107px;
    height: 102px;
}

.shard3 {
    position: absolute;
    bottom: 8px;
    left: 22px;
    width: 230px;
    height: 218px;
}

.arrows {
    position: absolute;
    top: 45%;
    left: 310px;
    width: 405px;
    height: 199px;
}

.schema > div {
    background-color: #3f4380;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    position: absolute;
}

.figure1 {
    top: 285px;
    left: 473px;
    font-size: 66px;
    color: #fff;
    text-align: center;
}

.figure2 {
    top: 460px;
    left: 230px;
}

.figure3 {
    top: 460px;
    right: 230px;
}

.figure2 > img {
    margin-left: 8px;
    margin-top: 18px;
    width: 65px;
    height: 43px;
}

.figure3 > img {
    margin-left: 16px;
    margin-top: 18px;
    width: 57px;
    height: 53px;
}

.schema > span {
    font-size: 20px;
    position: absolute;
    bottom: 257px;
    left: 440px;
}

.schema > div > p > span {
    font-size: 36px;
}

.schema > div > p {
    position: absolute;
    top: -85px;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
}