* {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #fff;
}

.slide {
    background-image: url('../../../../images/thirsdSection/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.title {
    font-family: 'GothamPro', sans-serif;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    top: 80px;
    left: 85px;
}

.shard1 {
   position: absolute;
   top: 108px;
   left: 8px;
   width: 38px;
   height: 39px;
}

.shard2 {
   position: absolute;
   top: 211px;
   right: 10px;
   width: 107px;
   height: 102px;
}

.shard3 {
   position: absolute;
   bottom: -8px;
   left: 150px;
   width: 206px;
   height: 216px;
   transform: rotate(-26deg);
}

.arrows {
    width: 508px;
    height: 322px;
    position: absolute;
    left: 300px;
    top: 240px;
}

.figure1 {
    background-color: #3f4380;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    position: absolute;
    top: 190px;
    left: 480px;
    font-size: 66px;
    text-align: center;
}

.figure1 > p {
    position: absolute;
    top: -70px;
    left: -40px;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
}

.figure1 > p > span {
    position: relative;
    top: 4px;
    left: -4px;
    font-size: 36px;
}

.figure2 {
    position: absolute;
    top: 328px;
    left: 350px;
    text-align: right;
}

.figure2 > p {
    font-size: 20px;
}

.figure2 > p > span {
    font-size: 36px;
}

.figure3 {
    position: absolute;
    top: 328px;
    right: 325px;
    text-align: left;
}

.figure3 > p {
    font-size: 20px;
}

.figure3 > p > span {
    font-size: 36px;
}

.figure4 {
    background-color: #3f4380;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 215px;
    left: 15px;
}

.figure4 > p {
    position: absolute;
    top: -30px;
    left: 75px;
    font-size: 20px;
    white-space: nowrap;
}

.figure4 > p > span {
    font-size: 36px;
}

.figure4 > img {
    margin-top: 8px;
    margin-left: 8px;
    width: 46px;
    height: 46px;
}

.figure5 {
    background-color: #3f4380;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 135px;
    left: 15px;
}

.figure5 > p {
    position: absolute;
    top: -30px;
    left: 75px;
    font-size: 20px;
}

.figure5 > p > span {
    font-size: 36px;
}

.figure5 > img {
    margin-top: 12px;
    margin-left: 3px;
    width: 55px;
    height: 37px;
}

.figure6 {
    background-color: #3f4380;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: 15px;
}

.figure6 > p {
    position: absolute;
    top: -30px;
    left: 75px;
    font-size: 20px;
}

.figure6 > p > span {
    font-size: 36px;
}

.figure6 > img {
    width: 51px;
    height: 48px;
    margin-top: 9px;
    margin-left: 3px;
}

.figure7 {
    background-color: #3f4380;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    right: 250px;
}

.figure7 > p {
    position: absolute;
    top: -30px;
    left: 75px;
    font-size: 20px;
    white-space: nowrap;
}

.figure7 > p > span {
    font-size: 36px;
}

.figure7 > img {
    margin-top: 10px;
    margin-left: 7px;
    width: 47px;
    height: 43px;
}

.figure8 {
    background-color: #3f4380;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 275px;
}

.figure8 > p {
    position: absolute;
    top: -37px;
    right: 75px;
    font-size: 20px;
    text-align: right;
    white-space: nowrap;
}

.figure8 > p > span {
    font-size: 36px;
}

.figure8 > img {
    margin-left: 4px;
    width: 43px;
    height: 62px;
}

.figure9 {
    background-color: #3f4380;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 345px;
    left: 275px;
}

.figure9 > p {
    position: absolute;
    top: -37px;
    right: 75px;
    font-size: 20px;
    text-align: right;
    white-space: nowrap;
}

.figure9 > p > span {
    font-size: 36px;
}

.figure9 > img {
    margin-top: 7px;
    margin-left: 5px;
    width: 48px;
    height: 45px;
}

.figure10 {
    background-color: #3f4380;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 485px;
    left: 275px;
}

.figure10 > p {
    position: absolute;
    top: -37px;
    right: 75px;
    font-size: 20px;
    text-align: right;
    white-space: nowrap;
}

.figure10 > p > span {
    font-size: 36px;
}

.figure10 > img {
    margin-top: 3px;
    margin-left: 4px;
    width: 42px;
    height: 43px;
}


.figure11 {
    background-color: #3f4380;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 140px;
    left: 495px;
}

.figure11 > p {
    position: absolute;
    top: -27px;
    right: 75px;
    font-size: 20px;
    text-align: right;
    white-space: nowrap;
}

.figure11 > p > span {
    font-size: 36px;
}

.figure11 > img {
    margin-top: 3px;
    width: 45px;
    height: 48px;
}

.figure12 {
    position: absolute;
    bottom: 323px;
    left: 275px;
    font-size: 15px;
}

.figure13 {
    position: absolute;
    bottom: 308px;
    left: 540px;
    font-size: 15px;
}

.figure14 {
    position: absolute;
    bottom: 237px;
    left: 430px;
    font-size: 25px;
}

.figuresWrapper {
    position: absolute;
    top: 340px;
    right: 60px;
}

.figuresWrapper > span {
    font-size: 15px;
    position: absolute;
    top: 21px;
    left: 41px;
}

.figuresWrapper > img {
    width: 260px;
    height: 231px;
}